# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-platform-green-unit @pagopa/io-institutions-n-services

/infra/ @pagopa/engineering-team-cloud-eng @pagopa/io-platform-green-unit @pagopa/io-institutions-n-services
/.github/ @pagopa/engineering-team-cloud-eng @pagopa/io-platform-green-unit @pagopa/io-institutions-n-services
