name: Code Review

on:
  workflow_dispatch:
  pull_request:
    types: [ opened, synchronize ]
    paths:
      - apps/**
      - packages/**
      - .node-version

jobs:
  js_code_review:
    uses: pagopa/dx/.github/workflows/js_code_review.yaml@72f90e9ec64a683d5d70a449f9848fddca28003b
    name: Code Review
    secrets: inherit
    permissions:
      contents: read
      pull-requests: write
